<p id="notice"><%= notice %></p>

<p>
  <strong>Veículo:</strong>
  <%= @travel.vehicle.id %> (<%= @travel.vehicle.translated_name %> <%= @travel.vehicle.line %>)
</p>

<p>
  <strong>Cartão:</strong>
  <%= @travel.card.id %> (<%= @travel.card.user.name %>)
</p>

<p>
  <strong>Condição:</strong>
  <%= @travel.translated_condition %>
</p>

<%= link_to 'Edit', edit_travel_path(@travel) %> |
<%= link_to 'Back', new_travel_path %>
