<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Data de Nascimento:</strong>
  <%= @user.birthdate %> (<%= @user.age%>)
</p>

<p>
  <strong>Impressão Digital:</strong>
  <%= @user.fingerprint %>
</p>

<p>
  <strong>Estudante?</strong>
  <%= (@user.is_student)?"Sim":"Não" %>
</p>

<p>
  <strong>Idoso?</strong>
  <%= (@user.elderly?)?"Sim":"Não" %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Usuários', users_path %> |
<%= link_to 'Cartões', new_card_path %>
