<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @user.birthdate %> (<%= @user.age%>)
</p>

<p>
  <strong>FingerPrint:</strong>
  <%= @user.fingerprint %>
</p>

<p>
  <strong>Estudante?</strong>
  <%= (@user.is_student)?"Sim":"Não" %>
</p>

<p>
  <strong>Idoso?</strong>
  <%= (@user.elderly?)?"Sim":"Não" %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back to users', users_path %> |
<%= link_to 'Back to cards', new_card_path %>
