<h1>Simulação</h1>
<hr>
<h3>Verificar a situação</h3>
<%= link_to 'Cartões' , cards_path     %><br>
<%= link_to 'Usuários', users_path     %><br>
<%= link_to 'Veículos', vehicles_path  %><br>
<%= link_to 'Recargas', recharges_path %><br>
<%= link_to 'Viagens' , travels_path   %><br><br>

<h3>Fazer uma viagem</h3>
<%= link_to  "Fazer uma viagem", new_travel_path %>
