<h1>Bem vindo ao sistema de gerenciamento do RioCard</h1>
<p>Aqui você poderá verificar o fluxo de uso da aplicação.</p>
<%= link_to 'Usuários', users_path     %><br>
<%= link_to 'Cartões' , cards_path     %><br>
<%= link_to 'Recargas', recharges_path %><br>
<%= link_to 'Veículos', vehicles_path  %><br>
<%= link_to 'Viagens' , travels_path   %>
