<%= form_for(card) do |f| %>
	<% if card.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

			<ul>
				<% card.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<h4>Código</h4>
		<%= f.text_field :code %>
	</div>

	<div class="field">
		<h4>Selecione um usuário abaixo</h4>
		<%= f.text_field :user_id, readonly: true %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
<hr>
<h1>Usuários Disponíveis</h1>
<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>Idade</th>
			<th>Data de Nascimento</th>
			<th>Impressão Digital</th>
			<th colspan="4"></th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= user.name %></td>
				<td><%= user.age %></td>
				<td><%= user.birthdate %></td>
				<td><%= user.fingerprint %></td>
				<td><%= link_to 'Show', user %></td>
				<td><%= link_to 'Edit', edit_user_path(user) %></td>
				<td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<td><button onclick="$('#card_user_id').val(<%= user.id %>)">Selecionar</button></td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= link_to  "Novo Usuário", new_user_path %>
