<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @card.code %>
</p>

<p>
  <strong>User:</strong>
  <%= @card.user_id %>
</p>

<%= link_to 'Editar', edit_card_path(@card) %> |
<%= link_to 'Voltar para simulação', simulator_index_path %> |
<%= link_to 'Voltar para os cartões', cards_path %>
