<p id="notice"><%= notice %></p>

<h1>Vehicles</h1>

<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Kind</th>
			<th>Line</th>
			<th>Description</th>
			<th>Price</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @vehicles.each do |vehicle| %>
			<tr>
				<td><%= vehicle.id %></td>
				<td><%= vehicle.kind %></td>
				<td><%= vehicle.line %></td>
				<td><%= vehicle.description %></td>
				<td><%= vehicle.price %></td>
				<td><%= link_to 'Show', vehicle %></td>
				<td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
				<td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Vehicle', new_vehicle_path %>
<%= link_to 'Home', welcome_index_path %>
