<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @vehicle.translated_name %>
</p>

<p>
  <strong>Linha:</strong>
  <%= @vehicle.line %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @vehicle.price %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Voltar para os veículos', vehicles_path %> |
<%= link_to  "Simulação", new_travel_path %>
