<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @vehicle.kind %>
</p>

<p>
  <strong>Line:</strong>
  <%= @vehicle.line %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vehicle.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @vehicle.price %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to  "Simulação", new_travel_path %>
