<p id="notice"><%= notice %></p>

<p>
  <strong>Cartão:</strong>
  <%= @recharge.card_id %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @recharge.value %>
</p>

<%= link_to 'Edit', edit_recharge_path(@recharge) %> |
<%= link_to 'Back', new_travel_path %>
